<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jt.hearthstone"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.jt.hearthstone.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jt.hearthstone.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/PreferencesTheme" >
        </activity>
        <activity
            android:name="com.jt.hearthstone.CardListActivity"
            android:label="@string/title_activity_card_list"
            android:parentActivityName="com.jt.hearthstone.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jt.hearthstone.MainActivity" />
        </activity>
        <activity
            android:name="com.jt.hearthstone.ClassesActivity"
            android:label="@string/title_activity_classes"
            android:parentActivityName="com.jt.hearthstone.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jt.hearthstone.MainActivity" />
        </activity>
        <activity
            android:name="com.jt.hearthstone.ClassFragmentHolder"
            android:label="@string/title_activity_class_fragment_holder"
            android:parentActivityName="com.jt.hearthstone.ClassesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jt.hearthstone.ClassesActivity" />
        </activity>
        <activity
            android:name="com.jt.hearthstone.DeckSelector"
            android:label="@string/title_activity_deck_selector"
            android:parentActivityName="com.jt.hearthstone.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jt.hearthstone.MainActivity" />
        </activity>
        <activity
            android:name="com.jt.hearthstone.DeckActivity"
            android:label="@string/title_activity_deck"
            android:parentActivityName="com.jt.hearthstone.DeckSelector" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jt.hearthstone.DeckSelector" />
        </activity>
        <activity
            android:name="com.jt.hearthstone.ChartActivity"
            android:label="@string/title_activity_chart" >
        </activity>
        <activity
            android:name="com.jt.hearthstone.DeckFragmentHolder"
            android:label="@string/title_activity_deck_fragment_holder"
            android:parentActivityName="com.jt.hearthstone.DeckSelector" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jt.hearthstone.DeckSelector" />
        </activity>
    </application>

</manifest>
